@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container{
    padding: 0;
}
.top{
    padding: 50px 50px;
    background-color: rgb(126, 133, 168);
    margin-bottom: 0;
}
.top h1{
    text-align: center;
    padding-bottom: 20px;
}
.main{
    margin-top: 0;
    background-color: rgb(203, 212, 223);
}
.details p{
    font-size: 18px;
    font-weight: 600;
}
.inner{
    max-width: 1000px;
    padding: 10px;
}
.inner p{
    font-size: 20px;
}
.details{
    padding: 20px 0px;
}
.header{
    margin: 10px;
    font-size: 35px;
    font-family: "Girassol",sans-serif ;
    text-align: center;
    margin-bottom: 20px;
}
.fas{
    padding: 5px;
    font-size: 24px;
}
.clgDetails{
    padding: 10px;
}
.college , .inter , .school {
    padding: 10px;
    border: 2px solid black;
}
.college , .inter , .school  p{
    font-size: 18px;
}
.row-1 , .row-2 ,.row-3 ,.row-4 label{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
}
.items ul li{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.profiles p{
    padding: 10px;
}
